<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Favicons here -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#cb4b16">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#fdf6e3">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#fdf6e3">

<!-- Workaround for some Twitter Card information here -->
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}" />

<!-- end custom head snippets -->
